<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ partial "head/default-meta.html" . }}

  {{- partial "head/favicon.html" . -}}
  {{- partial "head/robots.html" . -}}
  {{- partial "head/alternate.html" . -}}
  {{- partial "head/seo.html" . -}}
  {{- partial "head/schema.html" . -}}

  {{ $style := resources.Get "scss/styles.scss" | toCSS | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>